## Import the required libraries

In [74]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
import warnings
warnings.filterwarnings('ignore')

## Read the data from train.csv

In [75]:
df_train = pd.read_csv('train.csv')
df_train.shape

(4209, 378)

In [76]:
df_train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

## Collect the Y values into an array

In [77]:
# seperate the y from the data as we will use this to learn as 
# the prediction output
y_train = df_train['y'].values

## Understand the data types we have

In [78]:
# iterate through all the columns which has X in the name of the column
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

print('Feature types:')
df_train[cols].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

## Count the data in each of the columns

In [79]:
counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

In [80]:
print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

## Read the test.csv data

In [81]:
df_test = pd.read_csv('test.csv')

In [82]:
# remove columns ID and Y from the data as they are not used for learning
usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

In [83]:
x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

## Check for null and unique values for test and train sets

In [84]:
def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

## If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
    * Apply label encoder

In [85]:
for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

,X211,X154,X268,X253,X99,X33,X267,X276,X309,X28,...,X365,X249,X179,X113,X288,X104,X60,X242,X378,X212
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0

## Make sure the data is now changed into numericals

In [86]:
print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

## Perform dimensionality reduction

In [87]:
# Linear dimensionality reduction using Singular Value Decomposition of 
# the data to project it to a lower dimensional space.
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

## Training using xgboost

In [88]:
!pip install xgboost
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

Requirement already satisfied: xgboost in f:\installed softwares\anaconda3\lib\site-packages (1.6.2)
Requirement already satisfied: scipy in f:\installed softwares\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in f:\installed softwares\anaconda3\lib\site-packages (from xgboost) (1.21.5)

In [89]:
x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

In [90]:
d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

In [91]:
params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

In [92]:
def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

In [93]:
watchlist = [(d_train, 'train'), (d_valid, 'valid')]

In [94]:
clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[20:13:42] WARNING: C:/Users/administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:203: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.14834	train-r2:-58.35295	valid-rmse:98.26297	valid-r2:-67.63754
[10]	train-rmse:81.27653	train-r2:-38.88428	valid-rmse:80.36433	valid-r2:-44.91014
[20]	train-rmse:66.71610	train-r2:-25.87403	valid-rmse:65.77334	valid-r2:-29.75260
[30]	train-rmse:54.86915	train-r2:-17.17724	valid-rmse:53.89120	valid-r2:-19.64513
[40]	train-rmse:45.24564	train-r2:-11.36018	valid-rmse:44.22231	valid-r2:-12.90160
[50]	train-rmse:37.44741	train-r2:-7.46672	valid-rmse:36.37758	valid-r2:-8.40697
[60]	train-rmse:31.15105	train-r2:-4.85891	valid-rmse:30.01772	valid-r2:-5.40527
[70]	train-rmse:26.08768	train-r2:-3.10906	valid-rmse:24.90842	valid-r2:-3.41036
[80]	train-rmse:22.04898	train-r2:-1.93527	valid-rmse:20.82553	valid-r2:-2.08300
[90]	train-rmse:18.84732	train-r2:-1.14472	valid-rmse:17.59566	valid-r2:-1.20086
[100]	train-rmse:16.33600	train-r2:-0.61125	valid-rmse:15.07889	valid-r2:-0.61630
[110]	train-rmse:14.40376	train-r2:-0.25263	valid-rmse:13.14505	valid-r2:-0.22831
[120]	train-rmse:12.93411	train-r2:-0.01005	valid-rmse:11.69055	valid-r2:0.02848
[130]	train-rmse:11.82345	train-r2:0.15597	valid-rmse:10.61414	valid-r2:0.19915
[140]	train-rmse:10.98920	train-r2:0.27087	valid-rmse:9.84608	valid-r2:0.31086
[150]	train-rmse:10.38397	train-r2:0.34897	valid-rmse:9.31742	valid-r2:0.38287
[160]	train-rmse:9.93413	train-r2:0.40416	valid-rmse:8.95352	valid-r2:0.43014
[170]	train-rmse:9.60269	train-r2:0.44325	valid-rmse:8.70937	valid-r2:0.46079
[180]	train-rmse:9.35806	train-r2:0.47126	valid-rmse:8.55032	valid-r2:0.48031
[190]	train-rmse:9.17100	train-r2:0.49219	valid-rmse:8.44751	valid-r2:0.49273
[200]	train-rmse:9.02739	train-r2:0.50796	valid-rmse:8.37911	valid-r2:0.50091
[210]	train-rmse:8.92352	train-r2:0.51922	valid-rmse:8.33967	valid-r2:0.50560
[220]	train-rmse:8.84438	train-r2:0.52771	valid-rmse:8.31798	valid-r2:0.50817
[230]	train-rmse:8.78514	train-r2:0.53402	valid-rmse:8.30746	valid-r2:0.50941
[240]	train-rmse:8.73761	train-r2:0.53905	valid-rmse:8.29598	valid-r2:0.51077
[250]	train-rmse:8.69210	train-r2:0.54384	valid-rmse:8.28894	valid-r2:0.51160
[260]	train-rmse:8.65424	train-r2:0.54780	valid-rmse:8.28741	valid-r2:0.51178
[270]	train-rmse:8.61560	train-r2:0.55183	valid-rmse:8.28361	valid-r2:0.51222
[280]	train-rmse:8.58475	train-r2:0.55503	valid-rmse:8.27904	valid-r2:0.51276
[290]	train-rmse:8.55235	train-r2:0.55839	valid-rmse:8.28074	valid-r2:0.51256
[300]	train-rmse:8.52572	train-r2:0.56113	valid-rmse:8.27914	valid-r2:0.51275
[310]	train-rmse:8.50471	train-r2:0.56329	valid-rmse:8.27912	valid-r2:0.51275
[320]	train-rmse:8.47811	train-r2:0.56602	valid-rmse:8.27766	valid-r2:0.51292
[330]	train-rmse:8.44526	train-r2:0.56938	valid-rmse:8.27465	valid-r2:0.51328
[340]	train-rmse:8.42051	train-r2:0.57190	valid-rmse:8.27417	valid-r2:0.51333
[350]	train-rmse:8.39755	train-r2:0.57423	valid-rmse:8.27230	valid-r2:0.51355
[360]	train-rmse:8.37004	train-r2:0.57701	valid-rmse:8.27216	valid-r2:0.51357
[370]	train-rmse:8.35277	train-r2:0.57876	valid-rmse:8.27227	valid-r2:0.51356
[380]	train-rmse:8.32888	train-r2:0.58116	valid-rmse:8.27027	valid-r2:0.51379
[390]	train-rmse:8.29872	train-r2:0.58419	valid-rmse:8.26562	valid-r2:0.51434
[400]	train-rmse:8.27310	train-r2:0.58675	valid-rmse:8.26112	valid-r2:0.51487
[410]	train-rmse:8.24799	train-r2:0.58926	valid-rmse:8.26009	valid-r2:0.51499
[420]	train-rmse:8.22427	train-r2:0.59162	valid-rmse:8.25633	valid-r2:0.51543
[430]	train-rmse:8.19995	train-r2:0.59403	valid-rmse:8.25360	valid-r2:0.51575
[440]	train-rmse:8.16910	train-r2:0.59708	valid-rmse:8.25293	valid-r2:0.51583
[450]	train-rmse:8.14510	train-r2:0.59944	valid-rmse:8.25352	valid-r2:0.51576
[460]	train-rmse:8.11876	train-r2:0.60203	valid-rmse:8.25449	valid-r2:0.51565
[470]	train-rmse:8.09204	train-r2:0.60464	valid-rmse:8.25253	valid-r2:0.51588
[480]	train-rmse:8.07398	train-r2:0.60641	valid-rmse:8.25126	valid-r2:0.51602
[490]	train-rmse:8.04974	train-r2:0.60877	valid-rmse:8.25450	valid-r2:0.51565
[500]	train-rmse:8.02601	train-r2:0.61107	valid-rmse:8.25549	valid-r2:0.51553
[510]	train-rmse:8.00158	train-r2:0.61343	valid-rmse:8.25537	valid-r2:0.51554
[520]	train-rmse:7.97973	train-r2:0.61554	valid-rmse:8.25427	valid-r2:0.51567
[528]	train-rmse:7.95964	train-r2:0.61748	valid-rmse:8.25476	valid-r2:0.51562

## Predict your test_df values using xgboost

In [95]:
p_test = clf.predict(d_test)

In [96]:
sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

In [97]:
sub.head()

   ID           y
0   1   82.980400
1   2   97.419472
2   3   83.299011
3   4   76.984482
4   5  112.712082